<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need access to your microphone for voice commands and transcription.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>We need speech recognition to understand your voice commands.</string>
	<key>GIDClientID</key>
	<string>65942031867-33k2fa9vn9iqrjueiuqkughoil7vrr25.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.65942031867-33k2fa9vn9iqrjueiuqkughoil7vrr25</string>
				<string>http</string>
				<string>https</string>
			</array>
			<key>CFBundleURLName</key>
			<string>sourav.showfer-browser</string>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
    <array>
        <string>http</string>
        <string>https</string>
    </array>
</dict>
</plist>
